@import 'vars';
@import 'typography';
@import 'bootstrap';
@import 'landing';
@import 'video';
@import 'rating';
@import 'login';
@import 'loader';
@import 'nav';

body {
    padding-top: 115px;
    background-color: white;
    @media (max-width: 768px) {
      padding-top: 80px;
    }
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 10px 0;
}

flash-message, [flash-message] {
  position: absolute;
    top: 150px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
