.videogular-container {
  [videogular],
  videogular {
    background-color: white;
  }
  .rating {
    padding: 1em 1em 1em 1em;

    .jk-rating-stars-container {
      a {
        text-decoration: none;
      }

      .star-button {
        text-shadow: none;
      }
    }
  }
}
