<div class="container page-container landing">
  <div class="row title-container">
    <div class="col-lg-12">
      <h3 class="page-header">
        Recommended Videos
      </h3>
      <span>
        <em> Showing 0 - {{lan.videoThumbnails.length}}</em>
      </span>
    </div>
  </div>
  <div class="row content-container">
    <div class="loader-container" ng-show="lan.loading && !loading">
      <div class="loader">Loading...</div>
    </div>
    <div class="col-xs-12 video-list-container">
      <div class="row" infinite-scroll='lan.getVideos()' infinite-scroll-container="'.video-list-container'" infinite-scroll-distance='0.3' infinite-scroll-disabled='lan.loading'>
        <video-thumbnail ng-repeat="video in lan.videoThumbnails track by $index" video="video" vm="lan" index="$index"></video-thumbnail>
      </div>
      <hr>
    </div>
  </div>
