<div class="container-fluid login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                <form ng-submit="user.login()" class="form login">
                  <input type="text" placeholder="Username" ng-model="user.username"/>
                  <input type="password" placeholder="Password" ng-model="user.password"/>
                  <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
                  <div class="remember-forgot">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" />
                                      Remember Me
                                  </label>
                              </div>
                          </div>
                          <div class="col-md-6 forgot-pass-content">
                              <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
                          </div>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
